USE [master]
GO
/****** Object:  Database [DENG_CA1]    Script Date: 6/5/2022 8:58:29 PM ******/
CREATE DATABASE [DENG_CA1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DENG_CA1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DENG_CA1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DENG_CA1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DENG_CA1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DENG_CA1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DENG_CA1]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[cust_id] [int] IDENTITY(1,1) NOT NULL,
	[cust_first] [nvarchar](50) NOT NULL,
	[cust_last] [nvarchar](50) NOT NULL,
	[cust_pass] [nvarchar](50) NOT NULL,
	[cust_phone] [nchar](10) NOT NULL,
	[cust_driver] [nvarchar](50) NOT NULL,
	[cust_cardno] [nchar](16) NOT NULL,
	[cust_cardtype] [nvarchar](50) NOT NULL,
	[cust_country] [nvarchar](50) NOT NULL,
	[cust_state] [nchar](2) NOT NULL,
	[cust_city] [nvarchar](50) NOT NULL,
	[cust_zip] [nchar](5) NOT NULL,
	[cust_street] [nvarchar](50) NOT NULL,
	[cust_title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Customer__A1B71F90C821CF7E] PRIMARY KEY CLUSTERED 
(
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_first] [nvarchar](50) NOT NULL,
	[emp_last] [nvarchar](50) NOT NULL,
	[emp_country] [nvarchar](50) NOT NULL,
	[emp_state] [nchar](2) NOT NULL,
	[emp_city] [nvarchar](50) NOT NULL,
	[emp_zip] [nchar](5) NOT NULL,
	[emp_street] [nvarchar](50) NOT NULL,
	[emp_type] [nvarchar](50) NOT NULL,
	[emp_pay] [decimal](6, 2) NOT NULL,
	[emp_title] [nvarchar](50) NOT NULL,
	[emp_store] [int] NOT NULL,
 CONSTRAINT [PK__employee__1299A8615EBC2A0A] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_rental]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_rental](
	[item_rental_id] [int] IDENTITY(1,1) NOT NULL,
	[itemid] [int] NOT NULL,
	[rentalid] [int] NOT NULL,
 CONSTRAINT [PK_item_rental] PRIMARY KEY CLUSTERED 
(
	[item_rental_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_reserve]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_reserve](
	[item_reserve_id] [int] IDENTITY(1,1) NOT NULL,
	[itemid] [int] NOT NULL,
	[reserveid] [int] NOT NULL,
 CONSTRAINT [PK_item_reserve] PRIMARY KEY CLUSTERED 
(
	[item_reserve_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_return]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_return](
	[item_return_id] [int] IDENTITY(1,1) NOT NULL,
	[base_charge] [decimal](4, 2) NOT NULL,
	[return_date] [datetime] NOT NULL,
	[itemid] [int] NOT NULL,
	[returnid] [int] NOT NULL,
 CONSTRAINT [PK_item_return] PRIMARY KEY CLUSTERED 
(
	[item_return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[itemid] [int] NOT NULL,
	[movie_name] [nvarchar](250) NOT NULL,
	[movie_director] [nvarchar](50) NOT NULL,
	[movie_producer] [nvarchar](50) NOT NULL,
	[actor1] [nvarchar](50) NOT NULL,
	[actor2] [nvarchar](50) NOT NULL,
	[movie_image_url] [nvarchar](50) NOT NULL,
	[vhs_and_dvd_quantity] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
 CONSTRAINT [PK_movies] PRIMARY KEY CLUSTERED 
(
	[itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental](
	[rental_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_id] [int] NOT NULL,
 CONSTRAINT [PK_rental] PRIMARY KEY CLUSTERED 
(
	[rental_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_charge]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_charge](
	[item_type] [nvarchar](50) NOT NULL,
	[item_check] [nvarchar](50) NOT NULL,
	[late_fee] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_rental_charge] PRIMARY KEY CLUSTERED 
(
	[item_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reserve]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reserve](
	[reserve_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_id] [int] NOT NULL,
 CONSTRAINT [PK_reserve] PRIMARY KEY CLUSTERED 
(
	[reserve_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return](
	[return_id] [int] IDENTITY(1,1) NOT NULL,
	[rentalid] [int] NOT NULL,
 CONSTRAINT [PK_return] PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[store_country] [nvarchar](255) NOT NULL,
	[store_state] [nchar](2) NOT NULL,
	[store_city] [nvarchar](50) NOT NULL,
	[store_street] [nvarchar](50) NOT NULL,
	[store_zip] [nchar](5) NOT NULL,
 CONSTRAINT [PK_store] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction](
	[trans_id] [int] IDENTITY(1,1) NOT NULL,
	[trans_date] [datetime] NOT NULL,
	[trans_cust] [int] NOT NULL,
	[trans_store] [int] NOT NULL,
 CONSTRAINT [PK_transaction_1] PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vcr]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vcr](
	[itemid] [int] NOT NULL,
	[vcr_type] [nvarchar](50) NOT NULL,
	[vcr_brand] [nvarchar](50) NOT NULL,
	[vcr_madeby] [nvarchar](50) NOT NULL,
	[vcr_purchase_date] [datetime] NOT NULL,
	[vcr_image_url] [nvarchar](50) NOT NULL,
	[vcr_quantity] [int] NOT NULL,
	[vcr_id] [int] NOT NULL,
 CONSTRAINT [PK_vcr] PRIMARY KEY CLUSTERED 
(
	[itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[videocamera]    Script Date: 6/5/2022 8:58:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[videocamera](
	[itemid] [int] NOT NULL,
	[cam_brand] [nvarchar](50) NOT NULL,
	[cam_madeby] [nvarchar](50) NOT NULL,
	[cam_purchase_date] [datetime] NOT NULL,
	[cam_image_url] [nvarchar](50) NOT NULL,
	[cam_quantity] [int] NOT NULL,
	[cam_id] [int] NOT NULL,
 CONSTRAINT [PK_videocamera] PRIMARY KEY CLUSTERED 
(
	[itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_store] FOREIGN KEY([emp_store])
REFERENCES [dbo].[store] ([store_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_store]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [FK_rental_charge_item] FOREIGN KEY([item_type])
REFERENCES [dbo].[rental_charge] ([item_type])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [FK_rental_charge_item]
GO
ALTER TABLE [dbo].[item_rental]  WITH CHECK ADD  CONSTRAINT [FK_item_item_rental] FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([item_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_rental] CHECK CONSTRAINT [FK_item_item_rental]
GO
ALTER TABLE [dbo].[item_rental]  WITH CHECK ADD  CONSTRAINT [FK_rental_item_rental] FOREIGN KEY([rentalid])
REFERENCES [dbo].[rental] ([rental_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_rental] CHECK CONSTRAINT [FK_rental_item_rental]
GO
ALTER TABLE [dbo].[item_reserve]  WITH CHECK ADD  CONSTRAINT [FK_item_item_reserve] FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([item_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_reserve] CHECK CONSTRAINT [FK_item_item_reserve]
GO
ALTER TABLE [dbo].[item_reserve]  WITH CHECK ADD  CONSTRAINT [FK_reserve_item_reserve] FOREIGN KEY([reserveid])
REFERENCES [dbo].[reserve] ([reserve_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_reserve] CHECK CONSTRAINT [FK_reserve_item_reserve]
GO
ALTER TABLE [dbo].[item_return]  WITH CHECK ADD  CONSTRAINT [FK_item_item_return] FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([item_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_return] CHECK CONSTRAINT [FK_item_item_return]
GO
ALTER TABLE [dbo].[item_return]  WITH CHECK ADD  CONSTRAINT [FK_return_item_return] FOREIGN KEY([returnid])
REFERENCES [dbo].[return] ([return_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_return] CHECK CONSTRAINT [FK_return_item_return]
GO
ALTER TABLE [dbo].[movies]  WITH CHECK ADD  CONSTRAINT [FK_item_movies] FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([item_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movies] CHECK CONSTRAINT [FK_item_movies]
GO
ALTER TABLE [dbo].[rental]  WITH CHECK ADD  CONSTRAINT [FK_transaction_rental] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[transaction] ([trans_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rental] CHECK CONSTRAINT [FK_transaction_rental]
GO
ALTER TABLE [dbo].[reserve]  WITH CHECK ADD  CONSTRAINT [FK_transaction_reserve] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[transaction] ([trans_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reserve] CHECK CONSTRAINT [FK_transaction_reserve]
GO
ALTER TABLE [dbo].[return]  WITH CHECK ADD  CONSTRAINT [FK_rental_return] FOREIGN KEY([rentalid])
REFERENCES [dbo].[rental] ([rental_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[return] CHECK CONSTRAINT [FK_rental_return]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [FK_customer_transaction] FOREIGN KEY([trans_cust])
REFERENCES [dbo].[customer] ([cust_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [FK_customer_transaction]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [FK_transaction_store] FOREIGN KEY([trans_store])
REFERENCES [dbo].[store] ([store_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [FK_transaction_store]
GO
ALTER TABLE [dbo].[vcr]  WITH CHECK ADD  CONSTRAINT [FK_vcr_item] FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([item_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vcr] CHECK CONSTRAINT [FK_vcr_item]
GO
ALTER TABLE [dbo].[videocamera]  WITH CHECK ADD  CONSTRAINT [FK_videocamera_item] FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([item_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[videocamera] CHECK CONSTRAINT [FK_videocamera_item]
GO
USE [master]
GO
